.dynamic-clientpaymenttransaction_set{
    border: 1px solid black !important;
    margin-bottom: 15px !important;
}
.dynamic-clientpaymenttransaction_set h3 {
    background-color: rgba(19, 22, 243, 0.219) !important;
    border-bottom: ridge 1px rgba(0, 0, 0, 0.445);
    color: darkslateblue;
}