{% extends 'admin/payment/supplierpaymenttransaction/change_form.html' %}
{% load static %}

{% block print_transaction %} 
<script>

  function start_print() {
    let print_transaction = document.getElementById('print_transaction')
    if (print_transaction){ 
      function js_print(event){
        let url  = print_transaction.getAttribute('data-href');
        console.log(url)
        event.preventDefault();
        window.open(url,'print',"toolbar=no,scrollbars=yes,resizable=0,top=100,left=100,width=595,height=842")
      }
      print_transaction.addEventListener('click', js_print)
    }
  }
  window.addEventListener('load', start_print)
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
let supplier_cash = 0
  $(document).ready(function(){
  let select_element = $( ".select2-selection--single" )
  let amount_div = $('#id_amount')
  let cash_after_transaction = $('.field-supplier_cash_after_transaction div div')

  function dynamic_change_cash(supplier_cash, amount, value_payment_type) {
    if (Number(value_payment_type) === 1) {
      cash_after_transaction.text(Number(amount) + Number(supplier_cash))
    } else {
      cash_after_transaction.text(Number(supplier_cash) - Number(amount))
    }
  }

  select_element.eq(1).focusin(function() {
  let select_supplier = select_element.eq(1).text()
  let supplier_cash_url = window.location.href.replace('/add/','/supplier/'+ encodeURIComponent(select_supplier))


  $.ajax({
    method: 'GET',
    url: supplier_cash_url,
    dataType:'json',
  }).done(function(data) {
    supplier_cash = data['cash']
    $('.field-supplier_cash_html div').last().text(supplier_cash)
  
  });
})

 
  amount_div.keyup(function() {
    let amount = $('#id_amount').val()
    let value_payment_type = $('#id_payment_type').val()
    dynamic_change_cash(supplier_cash, amount, value_payment_type)
  })

});
</script>

<script>
  $(document).ready(function(){
    let suplier_field = $( ".select2-selection--single" )
    let supplier_cash_element = $('.field-supplier_cash_html div div.readonly')
    let amount = $('#id_amount')
    let cash_after_transaction = $('.field-supplier_cash_after_transaction div div.readonly')
    let select_options = $(".select2-results__option")
    let selected_option = $(".select2-results__option--highlighted")
    function dynamic_sum_cash_and_after_cash(supplier_cash, amount_value) {
      cash_after_transaction.text(Number(supplier_cash) + Number(amount_value))
    }
    suplier_field.bind('blur keyup',function(){
      dynamic_sum_cash_and_after_cash(supplier_cash_element.text(), amount.val()); 
    });
  });

</script>
{% endblock print_transaction %}
